fastapi
uvicorn
sqlalchemy
psycopg[binary]
pgvector
pydantic
pydantic-settings
python-dotenv
openai
tiktoken
python-multipart
# Infra & Parsing
boto3
pdfplumber
olefile
pyhwp
# GCP
google-cloud-aiplatform
google-cloud-discoveryengine
google-auth
